---
title: Examples
layout: default
---

<script type="text/javascript">
  function filterUsingCategory(selectedCategory) {
    var id = 0;
    {% for page in site.example_pages_v0_3_1 %}
      var cats = {{ page.tag | jsonify }}

      var postDiv = document.getElementById(++id);
      postDiv.style.display =
        (selectedCategory == 'All' || cats.includes(selectedCategory))
          ? 'unset'
          : 'none';
    {% endfor %}
  }
</script>




<div class="row">
  <h2>Examples</h2>

  <p>
  All examples listed here are part of the MUQ source code.
  Refer to the documentation for <a href="https://mituq.bitbucket.io/source/_site/latest/muqinstall.html">installation instructions</a>.
  </p>

<div class="btn-group" role="group" aria-label="Tags">
  <button class="btn btn-sm btn-outline-primary" id="All" onclick="filterUsingCategory('All')">All</button>
  {% assign tags =  site.example_pages_v0_3_1 | map: 'tag' | join: ','  | split: ',' | uniq %}
  {% for tag in tags %}
  <button class="btn btn-sm btn-outline-primary" id="{{ tag }}" onclick="filterUsingCategory(this.id)">{{ tag }}</button>
  {% endfor %}
</div>

</div>
</br>

<div class="row">
{% assign id = 0 %}
{% for page in site.example_pages_v0_3_1 %}
  {% assign id = id | plus:1 %}
  <div class="list-group" id="{{id}}"><a href="{{ site.url }}{{ page.url }}" class="list-group-item"><span class="badge">{{ page.language }}</span><span class="badge">{{ page.tag }}</span><h4 class="list-group-item-heading">{{ page.title }}</h4><p class="list-group-item-text">{{ page.description }}</p></a></div>
{% endfor %}
</div>
